.contact-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    color: var(--dark-accent);
    padding: var(--padding);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
}